
@media screen and (max-width: 920px){
    .arrow{
        margin-top: -35%;
    }

}
@media screen and (max-width: 460px) {
    img {
        height: 150px;
        width: auto;
    }
    .para6{
        margin-top:25%;
    }
    .card-body img{
        width: 150px;
        height: 70px;
    }
    .col img{
        width: 200px;
    }
    .container-sm img{
        height: 35px;
        width:35px;
    }
    .col-4 img{
        width:100px;
        height: 80px;
    }
    
}
@media screen and (max-width: 800px) {
   
    .para6 {
        margin-top: 70%;
    }

    .blackbox {
        margin-top: 70px;
    }
   

}
@media (max-width:790px )and (min-width: 620px){
    .para6{
        margin-top:15%;
    }
    .arrow {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .arrow {
        display: none;
    }
     .dropdown1{
        display:block;
    }

    .card-header{
        display: none;
    }
    .para6{
        margin-top:15%;
    }
}

